[submodule "nvim"]
	path = nvim
	url = https://github.com/WGGSH/nvim.git
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "nixos"]
	path = nixos
	url = git@github.com:WGGSH/nixos-config.git
