[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "nixos"]
	path = nixos
	url = git@github.com:WGGSH/nixos-config.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:WGGSH/nvim.git
[submodule "my-rofi"]
	path = rofi
	url = git@github.com:WGGSH/rofi.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:WGGSH/waybar.git
